<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Brusky</title>
  <script src="google-blockly/blockly_compressed.js"></script>
  <script src="google-blockly/blocks_compressed.js"></script>
  <script src="google-blockly/msg/js/en.js"></script>
  <script src="google-blockly/blocks/bruskey.js"></script>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      background-color: #fff;
      font-family: sans-serif;
      overflow: hidden;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    table {
      height: 100%;
      width: 100%;
    }
    #blocklyArea {
      height: 99%;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <td id="blocklyArea">
      </td>
    </tr>
  </table>

  <div id="blocklyDiv" style="position: absolute"></div>

  <xml id="toolbox" style="display: none">
      <category name="Logic" colour="%{BKY_LOGIC_HUE}">
        <block type="controls_if"></block>
        <block type="controls_if">
          <mutation else="1"></mutation>
        </block>
        <block type="controls_if">
          <mutation elseif="1" else="1"></mutation>
        </block>
        <category name="Boolean" colour="%{BKY_LOGIC_HUE}">
          <block type="logic_compare"></block>
          <block type="logic_operation"></block>
          <block type="logic_negate"></block>
          <block type="logic_boolean"></block>
          <block type="logic_null"></block>
          <block type="logic_ternary"></block>
        </category>
      </category>
      <category name="Loops" colour="%{BKY_LOOPS_HUE}">
        <block type="controls_repeat_ext">
          <value name="TIMES">
            <block type="math_number">
              <field name="NUM">10</field>
            </block>
          </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
          <field name="VAR">i</field>
          <value name="FROM">
            <block type="math_number">
              <field name="NUM">1</field>
            </block>
          </value>
          <value name="TO">
            <block type="math_number">
              <field name="NUM">10</field>
            </block>
          </value>
          <value name="BY">
            <block type="math_number">
              <field name="NUM">1</field>
            </block>
          </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
      </category>
      <category name="Math" colour="%{BKY_MATH_HUE}">
        <block type="math_number">
          <field name="NUM">123</field>
        </block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
          <value name="LOW">
            <block type="math_number">
              <field name="NUM">1</field>
            </block>
          </value>
          <value name="HIGH">
            <block type="math_number">
              <field name="NUM">100</field>
            </block>
          </value>
        </block>
        <block type="math_random_int">
          <value name="FROM">
            <block type="math_number">
              <field name="NUM">1</field>
            </block>
          </value>
          <value name="TO">
            <block type="math_number">
              <field name="NUM">100</field>
            </block>
          </value>
        </block>
        <block type="math_random_float"></block>
        <block type="math_atan2"></block>
      </category>
      <category name="Lists" colour="%{BKY_LISTS_HUE}">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
          <value name="NUM">
            <block type="math_number">
              <field name="NUM">5</field>
            </block>
          </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
      </category>
      <category name="Built In" colour="#5ba55b">
          <block type="initio_driveforward">
            <value name="DriveForward">
              <block type="math_number">
                <field name="NUM">0</field>
              </block>
            </value>
          </block>
          <block type="initio_drivebackward">
            <value name="DriveBackward">
              <block type="math_number">
                <field name="NUM">0</field>
              </block>
            </value>
          </block>
          <block type="initio_spinleft">
            <value name="SpinLeft">
              <block type="math_number">
                <field name="NUM">0</field>
              </block>
            </value>
          </block>
          <block type="initio_spinright">
            <value name="SpinRight">
              <block type="math_number">
                <field name="NUM">0</field>
              </block>
            </value>
          </block>
          <block type="initio_pause">
            <value name="Pause">
              <block type="math_number">
                <field name="NUM">0</field>
              </block>
            </value>
          </block>
          <block type="initio_leftlinedetected"></block>
          <block type="initio_rightlinedetected"></block>
          <block type="initio_getblobhalignment"></block>
          <block type="initio_stop"></block>
          <block type="initio_obstacledetected"></block>
          <block type="initio_getdistance"></block>
          <block type="initio_blobvisible"></block>
        </category>
      <sep></sep>
      <category name="Variables" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}">
      </category>
      <category name="Functions" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}">
      </category>
    </xml>

  <script>
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var demoWorkspace = Blockly.inject(blocklyDiv,
        {media: '../../media/',
         toolbox: document.getElementById('toolbox')});
    var onresize = function(e) {
      // Compute the absolute coordinates and dimensions of blocklyArea.
      var element = blocklyArea;
      var x = 0;
      var y = 0;
      do {
        x += element.offsetLeft;
        y += element.offsetTop;
        element = element.offsetParent;
      } while (element);
      // Position blocklyDiv over blocklyArea.
      blocklyDiv.style.left = x + 'px';
      blocklyDiv.style.top = y + 'px';
      blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
      blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
      Blockly.svgResize(demoWorkspace);
    };
    window.addEventListener('resize', onresize, false);
    onresize();
    Blockly.svgResize(demoWorkspace);
  </script>

  <script>
    // Update this with brusky functions
    function updateCode(event)
    {
      var code = Blockly.JavaScript.workspaceToCode(workspace);
      docuemnt.getElementById('textarea').value = code;
    }
    workspace.addChangeListener(updateCode);
  </script>
</body>
</html>
